.container {
  flex: 1 1;
  width: 100%;
  background-color: #1C1C1F;
  height: 100%;
  display: flex;
  color: white;
  flex-direction: column;
}

.btn {
  background-color: aqua;
}

.search-bar {
  background-color: #31313C;
  /* color: white; */
}

/* .search-bar:hover {
  background-color: #fff;
} */

.page-info {
  display: flex;
  align-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.css-1vn4y0d-MuiFormLabel-root-MuiInputLabel-root {
  color: 'green',
}